.imageHor {
  height: 4.5rem;
  width: auto;
  transition: ease-out 0.3s;
}

.atTop .imageHor {
  height: 5rem;
  width: auto;
  transition: ease-out 0.3s;
}

.image {
  height: 4rem;
  width: auto;
}

.imageVertical {
  width: 12.2rem;
  height: auto;
}
