.divContainerServices {
  padding: var(--paddingTop) var(--paddingLandR) var(--paddingBottom)
    var(--paddingLandR);
}

.servicesContent {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  position: relative;
}

@media (width <= 768px) {
}

@media (width > 768px) and (width <= 991px) {
}
