.divContainerServices {
  padding: var(--paddingTop) var(--paddingLandR) var(--paddingBottom)
    var(--paddingLandR);
  position: relative;
}

.servicesContent {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  position: relative;
}

.topDecoratorWeb {
  position: absolute;
  top: 15rem;
  right: 0;
}

.topDecoratorMobile {
  visibility: hidden;
  display: none;
}

@media (width <= 768px) {
  .topDecoratorWeb {
    visibility: hidden;
  }

  .topDecoratorMobile {
    visibility: visible;
    display: block;
    position: absolute;
    top: -10rem;
    right: -5rem;
    z-index: -1;
  }
}

@media (width > 768px) and (width <= 991px) {
}
