.divContainerServices {
  padding: var(--paddingTop) var(--paddingLandR) var(--paddingBottom)
    var(--paddingLandR);
  position: relative;
}

.servicesContent {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  position: relative;
}

.topDecorator {
  position: absolute;
  top: 15rem;
  right: 0;
}

.crossDecorator {
  position: absolute;
  top: 100rem;
  right: 1rem;
}

@media (width <= 768px) {
}

@media (width > 768px) and (width <= 991px) {
}
