.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  max-width: 1024px;
  height: auto;
  max-height: 800px;
  border: none;
  border-radius: 12px;
  background-color: transparent;
  padding: 20px;
  position: relative;
  margin: 0 auto;
  overflow-y: auto;
  scrollbar-width: none;
  background: transparent;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  background-color: var(--snowWhite);
  border: none;
  border-radius: 50%;
  /* Circular shape */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1.8rem;
  transition: all 0.2s linear;
  /* Adjust font size as needed */
}

.close-button:hover {
  background-color: #ff3646;
  color: var(--snowWhite);
}
