.heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.heroBackground {
  height: 100vh;
  width: 100vw;
  position: absolute;
  object-fit: fill;
  z-index: -5;
  mask-image: linear-gradient(to left, black 80%, transparent),
    linear-gradient(to right, black 80%, transparent),
    linear-gradient(to bottom, black 80%, transparent);
  -webkit-mask-image: linear-gradient(to left, black 80%, transparent),
    linear-gradient(to right, black 80%, transparent),
    linear-gradient(to bottom, black 80%, transparent);
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}

.heroBackground::-webkit-media.controls,
.heroBackground::-webkit-media.controls-panel,
.heroBackground::-webkit-media.controls-play-button {
  display: none !important;
  -webkit-appearance: none;
}

/* .hide-media-controls { */
/*   appearance: none; */
/*   -webkit-appearance: none; */
/* } */
/**/
/* .hide-media-controls::-webkit-media-controls, */
/* .hide-media-controls::-webkit-media-controls-panel, */
/* .hide-media-controls::-webkit-media-controls-play-button { */
/*   display: none !important; */
/* } */

.heroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  max-width: 80rem;
}

.heroTitleContainer {
  text-align: center;
}

.heroTitle {
  font-size: 6rem;
  text-align: center;
  font-weight: 300;
  line-height: 150%;
  color: var(--snowWhite);
}

.heroTitle strong {
  font-weight: 700;
}

.heroSubTitle {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--snowWhite);
  font-family: var(--acuminFont);
}

.heroButton {
  /* width: 14rem; */
  /* height: 5rem; */
  padding: 1rem 2rem;
  border: none;
  border-radius: 1.2rem;
  background-color: var(--skyBlue);
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--snowWhite);
  transition: 400ms ease;
}

.heroButton:hover {
  cursor: pointer;
  color: var(--lightGray);
}

@media screen and (max-width: 922px) {
  .heroContainer {
    max-width: 60rem;
  }

  .heroTitle {
    font-size: 4.5rem;
  }

  .heroSubTitle {
    font-size: 1.5rem;
  }

  .heroButton {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .heroContainer {
    max-width: 50rem;
  }

  .heroTitle {
    font-size: 3.8rem;
  }

  .heroSubTitle {
    font-size: 1.25rem;
  }

  .heroButton {
    font-size: 2rem;
  }
}

@media screen and (max-width: 425px) {
  .heroContainer {
    max-width: 40rem;
  }

  .heroTitle {
    font-size: 3rem;
  }

  .heroSubTitle {
    font-size: 1rem;
  }

  .heroButton {
    font-size: 0.9rem;
  }
}
