.heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 54rem;
  width: 100%;
  position: relative;
  overflow-y: hidden;
  mask-image: linear-gradient(to bottom, black 80%, transparent);
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}

.heroBackground {
  width: 100%;
  position: absolute;
  object-fit: cover;
  z-index: -5;
}

.heroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 80rem;
}

.heroTitleContainer {
  text-align: center;
}

.heroTitle {
  font-size: 6rem;
  text-align: center;
  font-weight: 300;
  line-height: 150%;
  color: var(--snowWhite);
}

.heroTitle strong {
  font-weight: 700;
}

.heroSubTitle {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--snowWhite);
  font-family: var(--acuminFont);
}

.heroButtonContainer {
  margin-top: 5rem;
}

.heroButton {
  width: 14rem;
  height: 5rem;
  border: none;
  border-radius: 1.2rem;
  background-color: var(--skyBlue);
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--snowWhite);
  transition: 400ms ease;
}

.heroButton:hover {
  cursor: pointer;
  font-size: 1.7rem;
  color: var(--lightGray);
}

.heroSeparator {
  height: 16rem;
  background-color: var(--deepNavy);
}
