.divContainerNiche {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.logo {
  height: 6rem;
  width: auto;
}

@media (width <= 768px) {
  .logo {
    height: 4rem;
  }
}

@media (width > 768px) and (width <= 991px) {
}
