.sectionAbout {
  padding: var(--padingTop) 8rem 2.5rem 8rem;
  display: flex;
  justify-content: center;
}

.divContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 8rem;
}

.divText {
  width: fit-content;
}

.aboutText {
  line-height: 150%;
  max-width: 45rem;
  font-weight: 100;
  color: white;
}

.aboutText > span {
  font-weight: 600;
}

.divImages {
  width: fit-content;
  height: fit-content;
}

.imagesAbout {
  max-width: 40rem;
  min-width: 10rem;
  height: auto;
}
