.sectionAbout {
  padding: 4rem 8rem 2.5rem 8rem;
  display: flex;
  justify-content: center;
}

.divContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

.divText {
  width: fit-content;
  margin-left: 5rem;
}

/* .aboutTitle {
  font-size: 7rem;
  color: var(--candyPink);
  line-height: 150%;
  margin-bottom: 3rem;
} */

.aboutText {
  font-size: 3.5rem;
  line-height: 150%;
  max-width: 60rem;
  font-weight: 100;
  color: white;
}

.aboutText > span {
  font-weight: 600;
}

.divImages {
  width: fit-content;
  height: fit-content;
}

.imagesAbout {
  max-width: 40rem;
  min-width: 10rem;
  height: auto;
}
