.sectionAbout {
  padding: var(--paddingTop) var(--paddingLandR) var(--paddingBottom)
    var(--paddingLandR);
  display: flex;
  justify-content: center;
}

.divContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 8rem;
}

.divText {
  width: fit-content;
}

.aboutText {
  line-height: 150%;
  max-width: 45rem;
  font-weight: 100;
  color: white;
}

.aboutText > span {
  font-weight: 600;
}

.divImages {
  width: fit-content;
  height: fit-content;
}

.imagesAbout {
  max-width: 40rem;
  min-width: 10rem;
  height: auto;
}

.imagesAboutMobile {
  display: none;
}

@media (width <= 768px) {
  .divContainer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .aboutText {
    width: 97.8%;
    line-height: 190%;
  }

  .divImages {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
  }

  .imagesAbout {
    display: none;
  }

  .imagesAboutMobile {
    display: block;
    width: 90%;
    height: auto;
  }
}

@media (width > 768px) and (width <= 991px) {
  .divContainer {
    display: flex;
    flex-direction: column;
    gap: 6rem;
  }

  .aboutText {
    font-size: 3rem;
    max-width: 60rem;
    line-height: 190%;
  }

  .divImages {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
  }

  .imagesAbout {
    display: none;
  }

  .imagesAboutMobile {
    display: block;
    width: 80%;
    height: auto;
  }
}
