.mainTitle {
  font-size: 5rem;
  color: var(--white);
  margin-bottom: 6rem;
  text-transform: uppercase;
}

.pink {
  color: var(--candyPink);
}

@media (width <= 768px) {
  .mainTitle {
    font-size: 3rem;
    margin-bottom: 4rem;
  }

  .pink {
    text-align: end;
  }
}
