:root {
  --deepNavy: #00030b;
  --darkSlateBlue: #15203b;
  --deepTeal: #004d69;
  --skyBlue: #0099c9;
  --candyPink: #ff5ec7;
  --charcoalGray: #454545;
  --mediumGray: #828282;
  --lightGray: #e0e0e0;
  --snowWhite: #f9feff;
  --white: #ffffff;

  --paddingTop: 10rem;
  --paddingLandR: 8rem;
  --paddingBottom: 2.5rem;

  --swiper-pagination-bullet-inactive-color: #e0e0e0 !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background-color: var(--deepNavy);
}

body:has(dialog[open]) {
  overflow-y: hidden;
  position: fixed;
}

body::-webkit-scrollbar {
  width: 1.2rem;
}

body::-webkit-scrollbar-track {
  background: var(--lightGray);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--deepNavy);
  border-radius: 2rem;
  border: 0.3rem solid var(--lightGray);
}

p {
  font-size: 2.5rem;
  color: white;
  font-weight: 300;
}

hr {
  border-color: var(--mediumGray);
}

@media (width <=768px) {
  :root {
    --paddingTop: 8rem;
    --paddingLandR: 2rem;
    --paddingBottom: 0;
  }

  p {
    font-size: 2.1rem;
  }
}

@media (width > 768px) and (width <=991px) {
  :root {
    --paddingTop: 8rem;
    --paddingLandR: 4rem;
    --paddingBottom: 0;
  }

  p {
    font-size: 2.1rem;
  }
}
