:root {
  --deepNavy: #00030b;
  --darkSlateBlue: #15203b;
  --deepTeal: #004d69;
  --skyBlue: #0099c9;
  --candyPink: #ff5ec7;
  --charcoalGray: #454545;
  --mediumGray: #828282;
  --lightGray: #e0e0e0;
  --snowWhite: #f9feff;
  --white: #ffffff;

  --padingTop: 10rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  background-color: var(--deepNavy);
}

body::-webkit-scrollbar {
  width: 1.2rem;
}

body::-webkit-scrollbar-track {
  background: var(--lightGray);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--deepNavy);
  border-radius: 2rem;
  border: 0.3rem solid var(--lightGray);
}

p {
  font-size: 2.5rem;
  color: white;
  font-weight: 300;
}
