:root {
  --deepNavy: #00030b;
  --darkSlateBlue: #15203b;
  --skyBlue: #0099c9;
  --candyPink: #ff5ec7;
  --charcoalGray: #454545;
  --mediumGray: #828282;
  --lightGray: #e0e0e0;
  --snowWhite: #f9feff;
  --white: #ffffff;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* overflow-x: hidden; */
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--deepNavy);
}

::-webkit-scrollbar {
  display: none;
}
