.anchor {
  list-style: none;
  text-align: center;
  align-content: center;
  background-color: var(--deepNavy);
  padding: 1rem 2rem;
  border-radius: 1rem;
  display: inline-block;
  font-size: 2rem;
  transition:
    background-color 0.1s linear,
    transform 0.1s linear;
}

.link {
  font-weight: 300;
  color: var(--white);
  text-decoration: none;
  text-transform: capitalize;
  display: inline-block;
}

.active,
.anchor:hover,
.anchor:active,
.anchor::selection {
  transform: scale(0.95);
  background-color: var(--skyBlue);
  cursor: pointer;
}
