.headerDropDown {
  display: flex;
  align-items: center;
  width: 100%;
}

.divTitleArrow {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  cursor: pointer;
  gap: 5rem;
}

.spanTitles {
  font-size: 2.5rem;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--white);
  margin-left: 4rem;
  z-index: 2;
  line-height: 1;
  overflow-y: hidden;
}

.arrow {
  color: white;
  width: 2rem;
  height: auto;
  margin-right: 1rem;
  z-index: 2;
}

.arrowR {
  transition: 0.5s;
}

.arrowD {
  transition: 0.5s;
  rotate: 180deg;
}

.hiddenMenu {
  list-style: none;
  display: none;
}

.showMenu {
  --font-size: 4.5rem;
  position: relative;
  top: calc(var(--font-size) / -2);
  border-left: 2px solid white;
  margin-left: 1rem;
  animation: scale-up-vertical-top 0.2s linear;
  padding: 6rem 0 0 4rem;
  background-origin: content-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttonLink {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--candyPink);
  width: 60%;
  max-width: 50rem;
  height: 5rem;
  border-radius: 1rem;
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-weight: 400;
  line-height: 150%;
  margin-top: 4rem;
}

@media (hover: hover) {
  .buttonLink:hover {
    font-size: 2.1rem;
  }
}

@keyframes scale-up-vertical-top {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: center top;
  }

  100% {
    opacity: 1;
    transform: scaleY(1);
    transform-origin: center top;
  }
}

.iconDD {
  width: 2rem;
  height: 2rem;
  background: linear-gradient(-45deg, #fff 15%, #000 90%);
  border-radius: 50%;
  z-index: 10;
}

@media (max-width: 768px) {
  .divTitleArrow {
    gap: 2rem;
  }

  .spanTitles {
    font-size: 2.2rem;
    margin-left: 2rem;
  }

  .arrow {
    width: 1.8rem;
  }

  .showMenu {
    --font-size: 2.2rem;
    top: calc(var(--font-size) / -2);
    border-left: 1px solid white;
    margin-left: 0.8rem;
    padding: 6rem 0 0 2rem;
  }

  .buttonLink {
    width: 100%;
  }

  .iconDD {
    height: 1.5rem;
    width: 1.5rem;
  }
}

@media (width > 768px) and (width <= 991px) {
  .divTitleArrow {
    gap: 4rem;
  }
}
