/* .dropDownContainer {
  cursor: pointer;
} */

.headerDropDown {
  display: flex;
  align-items: center;
}

.spanTitles {
  --font-size: 4.5rem;
  text-transform: uppercase;
  color: var(--white);
  margin-left: 4rem;
  font-size: var(--font-size);
  z-index: 2;
  line-height: 1;
  cursor: pointer;
}

.hiddenMenu {
  list-style: none;
  display: none;
}

.showMenu {
  --font-size: 4.5rem;

  position: relative;
  top: calc(var(--font-size) / -2);
  width: 100%;
  border-left: 2px solid white;
  margin-left: 1.4rem;
  animation: scale-up-vertical-top 0.2s linear;
  padding: 8rem 0 0 4rem;
  background-origin: content-box;
}

@keyframes scale-up-vertical-top {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: center top;
  }

  100% {
    opacity: 1;
    transform: scaleY(1);
    transform-origin: center top;
  }
}

@media (max-width: 768px) {
  .modalIn {
    margin: -0.4rem 0 0 0.35rem;
  }
}

.iconDD {
  width: 3rem;
  height: 3rem;
  background: linear-gradient(-45deg, #fff 15%, #000 90%);
  border-radius: 50%;
  z-index: 10;
}
