.navbarContainer {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 4rem 6rem;
  z-index: 100;
  position: fixed;
}

.itemsNavbarContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.image {
  height: 6rem;
  width: auto;
}
