.divContainerSme {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.h3Styles {
  font-size: 4rem;
  font-weight: 400;
}

@media (width <= 768px) {
  .divContainerSme {
    gap: 2rem;
  }

  .h3Styles {
    font-size: 1.6rem;
  }
}

@media (width > 768px) and (width <= 991px) {
}
